.login{
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;

}

.login-image{
  width: 50%;
  background: linear-gradient(0deg, #009562 -2.22%, rgba(21, 191, 133, 0.22) 101.22%);  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image  .image  img{
  margin-top: 5rem;
}
.login-image h1{
  max-width: 31.5625rem;
  font-size: clamp(1.875rem, 8vw - 3vw, 2.75rem);
  text-align: center;
  text-transform: uppercase;
  padding: 0rem 1.25rem;
  margin: 2.25rem 0rem;
}
.login-image p{
  max-width: 30.9375rem;
  margin-top: 1.125rem;
  font-size: 1.125rem;
  text-align: center;
}

.login-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.login-info .logo{
  width: 130px;
  align-self: flex-end;
  margin: 1.5rem 2rem 0rem 0rem;
}
.login-info .logo img{
  width: 100%;
}
.login-form{
  width: 60%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}
.login-form p{
  margin: 0rem 0rem .5rem;
}
.login-form h2{
  font-size: 1.75rem;
  margin: 0rem 0rem 1.875rem;
  font-weight: 500;
}
.login-form .form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-form .form input{
  height: 3.125rem;
  background-color: transparent;
  border: 1px solid #aaaaaa;
  border-radius: .3125rem;
}
.login-form .form input::placeholder{
  padding-left: 1.25rem;
  font-size: 1rem;
  color: #aaaaaa;
}