/* Page Login */
.login{
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;

}
/* Login image and text on the left side */
.login-image{
  width: 50%;
  background: linear-gradient(0deg, #009562 -2.22%, rgba(21, 191, 133, 0.22) 101.22%);  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image  .image  img{
  margin-top: 3rem;
  width: 31.25rem;
}

.login-image h1{
  max-width: 34.375rem;
  font-size: clamp(1.875rem, 8vw - 3vw, 2.75rem);
  text-align: center;
  text-transform: uppercase;
  padding: 0rem 1.25rem;
  margin: 2.25rem 0rem;
}

.login-image p{
  max-width: 30.9375rem;
  margin-top: 1.125rem;
  font-size: 1.125rem;
  text-align: center;
}

/* Info for form to login and logo */
.login-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #000000;
}

/* Logo */
.login-info .logo{
  width: 130px;
  align-self: flex-end;
  margin: 1.5rem 2rem 0rem 0rem;
}

.login-info .logo img{
  width: 100%;
}

/* Form */
.login-form{
  width: 60%;
  margin: 5rem auto 0rem;
  display: flex;
  flex-direction: column;
}

.login-form p{
  margin: 0rem 0rem .5rem;
}

.login-form h2{
  font-size: 1.75rem;
  margin: 0rem 0rem 1.875rem;
  font-weight: 500;
}

.login-form .form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form .form input{
  height: 3.125rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  border-radius: .3125rem;
  color: #000000;
  padding-left: 1.25rem;
  font-size: 1rem;
}

.login-form .form input::placeholder{
  color: #aaaaaa;
}

.login-info .login-form .form .form-warned{
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .625rem;
  font-size: .875rem;
  padding: 0rem .625rem;
}
.login-info .login-form .form .form-warned label{
  font-size: .875rem;
}

.recover{
  position: absolute;
  top: 35.125rem;
  right: 12rem;
  font-size: 14px;
  color: #21A0A8;
  font-weight: 600;
}
.recover:active{
  color: #FF477E;
}

.login-info .login-form .form .btn-login{
  height: 3.125rem;
  background-color: #FF477E;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: .3125rem;
  transition: transform .6s;
  text-align: center;
  margin-bottom: .625rem;
}

.login-info .login-form .form .btn-login:hover{
  background-color: #ff2f6e;
  transform: scale(1.03);
}

.login-info .login-form .form .error{
  font-size: .875rem;
  color: red;
  margin: 0rem;
}

/* Go to register */
.login-info .register{
  text-align: center;
  position: relative;
  bottom: -7rem;
}
.login-info .register .link{
  font-weight: 400;
  color: #FF477E;
}