
.title-card {
    color: #000000;
    margin-bottom: 1rem;
    font-weight: 500;
}

.container-show-card {
    width: 100%;
    border-radius: 0.75rem;
    color: #000000;
}

.table {
    width: 100%;
    min-height: auto;
    border: 1px solid #aaaaaa;
    border-radius: .625rem;
    overflow-x: auto;
}
.table thead tr th{
    padding: 1rem;
}

.table tbody tr td{
    padding: 1rem;
}

@media only screen and (min-width: 600px){
    
    .table thead {
        width: 100%;
    }
    .table body{
        width: 100%;
    }
    
    
}
